* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    color: #222222;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: unset;

    padding-top: 30px;
}

a {
    text-decoration: none;
}

button {
    font-size: 20px;
}

#ferien {
    height: 100vh;
    widows: 100vw;

    display: none;
}

.logo {
    display: block;
    width: 50px;
    padding: 25px 0px 0px 40px;
    cursor: pointer;
}

.grid-container-1 {
    display: grid;
    -ms-grid-columns: 18% 82%;
    grid-template-columns: 18% 82%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    background-color: #eeeeee;
    height: 12vh;
}

.grid-container-2 {
    height: 75vh;
    width: 100vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.grid-container-3 {
    height: 90vh;
    width: 100vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 15% 1fr 5%;
    grid-template-rows: 10% 1fr 10%;
}

.grid-item-3 {
    display: unset;
}

#ferienjobs {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #eeeeee;

    cursor: pointer;
    outline: none;

    transition: 200ms;
}

#ferienjobs:hover {
    background-color: #0FBDD2;
    transition: 300ms;
}

#ferienjobs:active {
    transform: scale(0.98);
    transition: 200ms;
}

.first {
    text-align: center;
    padding: 40px 0 40px 0;
}

.block {
    display: none;
    height: 100%;
    width: 100%;

    background-color: #333333;
    border-radius: 3px; 
}

.date {
    display: none;
    text-align: center;
    padding: 10% 0 0 0;
}

.weeks {
    display: none;
    text-align: center;
    padding: 10% 0 0 0;
}

.herbst {
    background-color: #2A9657;
}

.winter {
    background-color: #69B5AF;
}

.sport {
    background-color: #E65263;
}

.frühjahr {
    background-color: #ffa500;
}

.sommer {
    background-color: #FFD700;
}

.bold {
    font-weight: bold;
}

table {
    height: 100%;
    width: 100%;
}

th {
    height: 50px;
    width: auto;
    padding: 5px;

    text-align: left;
    font-weight: bold;
}

td {
    height: 10px;
    width: auto;
    padding: 5px;

    text-align: left;
}

.red {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: red;

    grid-column: 2 / span 4;
    grid-row: 1 / span 3;
}

@media only screen and (max-width: 820px) {

    .grid-container-1 {
        display: none;
    }

    .grid-container-2 {
        width: 90vw;
    }

    .grid-container-3 {
        width: 90vw;
    }

    * {
        font-size: 8px;
    }

    #ferienjobs {
        display: none;
    }
}