* {
	font-family: "Comfortaa", sans-serif;
}

.grid-container-2 {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% auto 10%;
	background-color: transparent;
	height: 80%;
}

.grid-item-2 {
	font-size: 30px;
}

input {
    width: 45%;
    height: 50px;

    padding: 5px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    margin: 1%;

    display: inline-block;

    transition: 300ms;
}

input:hover {
    box-shadow: #eeeeee 5px 5px 5px;

    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
}

input:focus {
    border: 1px solid #666666;
    outline: none;
}

#home {
    background-image: linear-gradient(230deg, #ffffff 60%, #eeeeee 40%);
}

#home-1 {
    width: 100vw;
    height: 100px;
}

#home-2 {
    width: 100vw;
    height: 175px;

    line-height: 175px;
    text-align: center;
}

#home-3 {
    width: 100vw;
    height: auto;
}

#abmeldung-form {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: none;
}

#btn-submit {
    width: 25%;
	height: 50px;
	
	background-color: #25B6D2;
	color: #ffffff;
    padding: 5px;

    border: none;
    border-radius: 5px;

    margin: 1%;

    display: inline-block;

    transition: 300ms;
}

#btn-submit:hover {
    cursor: pointer;
    background-color: #69CD5A;
    box-shadow: #dddddd 5px 5px 5px;
    transform: scale(1.02);
    transition: 200ms;
    -webkit-transform: scale(1.02);
    -webkit-transition: 200ms;
    -moz-transform: scale(1.02);
    -moz-transition: 200ms;
    -o-transform: scale(1.02);
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -ms-transform: scale(1.02);
}

#grund {
    width: 94%;
}

@media only screen and (max-width: 820px) {
	.grid-container-1 {
		display: none;
	}

	input {
		width: 92%;
	}

	#grund {
		width: 92%;
	}

	#btn-submit {
		width: 50%;
	}
}