* {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
}

textarea {
    height: 80vh;
    width: 90vw;
    display: block;
    margin: 10px auto;
    padding: 6px;
    border: 0.5px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    font-size: 16px;
}

button {
    height: 10vh;
    width: 91vw;
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}

button:hover {
    background-color: #00AAFF;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}